{% extends 'main/base_login.html' %}

{% block content %}


<section class="container">
    <div class="login-container">
        <div class="circle circle-one"></div>
        <div class="form-container">
            <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png" alt="illustration" class="illustration" />
            <h1 class="opacity">LOGIN</h1>
            <form method="post" novalidate>
                {% csrf_token %}
                {% for field in form %}
                <p>
                    {% if field.errors %}
                    <ul>
                        {% for error in errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {{ field }}
                </p>
                {% endfor %}
                <button class="opacity">SUBMIT</button>
            </form>
            <div class="register-forget opacity">
                <a href="{% url 'register' %}">REGISTER</a>
                <a href="">FORGOT PASSWORD</a>
            </div>
        </div>
        <div class="circle circle-two"></div>
    </div>
    <div class="theme-btn-container"></div>
</section>

{% endblock %}