{% extends 'main/base.html' %}
{% load static %}
{% load humanize %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock %}

{% block content %}
<h1>{{ room.name }}</h1>

<div class="chat-container">

  <div class="chat" id="chat">
    <div class="chat-messages" id="chat-messages">
      {% for message in messages %}
      <div class="chat-message {% if request.user == message.user %}right{% else %}left{% endif %}">
        <div class="message-info">
          <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User Avatar" width="40" height="40">
          <div class="message-time">{{ message.date_added |date:"P"}}</div>
        </div>
        <div class="message-content">
          <div class="message-author">{{ message.user.username }}</div>
          {{ message.content }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="chat-input">
    <form method="post" action=".">
      {% csrf_token %}
      <input type="text" name="content" placeholder="Your message..." id="chat-message-input" />
      <button id="chat-message-submit">Submit</button>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}

<script src="{% static 'js/room.js' %}"></script>
{% endblock %}
